@media only screen and (max-width: 1180px) {
  .container {
    max-width: 60rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 50rem;
  }

  /* ********************************** */
  /* FOOTER */
  /* ********************************** */
  .footer-content-box {
    gap: 4rem;
  }
  .footer-links {
    gap: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  /* ********************************** */
  /* BODY */
  /* ********************************** */
  .stop-scrolling {
    height: 100vh;
    overflow: hidden;
  }
  /* ********************************** */
  /* HEADER */
  /* ********************************** */
  .header {
    padding: 1rem 2rem;
  }

  /* ********************************** */
  /* NAV DESKTOP */
  /* ********************************** */
  .nav-cta {
    display: none;
  }

  /* ********************************** */
  /* NAV MOBILE */
  /* ********************************** */
  .btn-mobile-nav {
    display: block;
    height: 24px;
    width: 24px;
    z-index: 9999;
  }

  .main-nav {
    background-color: var(--CLR-NEUTRAL-WHITE);
    border-radius: 5px;
    position: absolute;
    top: -25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 9999;
    padding: 1rem 0;
    transition: all 200ms ease;

    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 1rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    color: var(--CLR-PRIMARY-DARKBLUE);
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: var(--CLR-PRIMARY-GREEN);
  }

  .main-nav-link:hover::after,
  .main-nav-link:active::after {
    content: "";
    position: static;
    top: 0;
    left: 0;
    transform: none;
    height: 0;
    width: 0;
    background: none;
    color: none;
  }

  .nav-open .background {
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(#2d314d, #2d314d00);
    display: flex;
    opacity: 1;
    transition: all 200ms ease;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    top: 11.5rem;
  }

  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* ********************************** */
  /* HERO */
  /* ********************************** */
  .section-hero {
    padding: 0 0 4rem 0;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -20rem;
    align-items: center;
  }

  .hero-text-box {
    text-align: center;
    padding: 0 2rem;
  }

  .hero-image-box {
    position: static;
    background-image: url(../../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0rem -23rem;
  }

  .hero-img {
    position: relative;
    top: 2rem;
    transform: scale(0.875);
  }

  .hero-image-box::before {
    position: static;
    z-index: 0;
    top: 0rem;
    left: 0rem;
    content: "";
  }

  /* ********************************** */
  /* WHY */
  /* ********************************** */
  .section-why {
    padding: 4rem 2rem;
  }

  .why-text {
    text-align: center;
  }

  .why-list {
    flex-direction: column;
  }

  .why-list div:last-of-type p {
    margin-bottom: 0;
  }

  .why-list img {
    margin: 0 auto 2rem;
  }

  .why-list div {
    text-align: center;
  }

  /* ********************************** */
  /* ARTICLES */
  /* ********************************** */
  .section-articles {
    padding: 4rem 2rem;
  }

  .section-articles .heading-secondary {
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  /* ********************************** */
  /* FOOTER */
  /* ********************************** */
  .section-footer {
    padding: 3rem 5rem;
  }

  .footer-content-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .footer-logo-socials {
    align-items: center;
    gap: 2rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.75rem;
    padding: 0 0;
  }
  .footer-link-group {
    align-items: center;
    gap: 0.75rem;
  }

  .footer-cta-box {
    margin-left: 0;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
  }
}
@media only screen and (max-width: 425px) {
  .heading-primary {
    font-size: 2.25rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  /* ********************************** */
  /* HEADER */
  /* ********************************** */
  .header {
    padding: 1rem 1rem;
  }

  /* ********************************** */
  /* HERO */
  /* ********************************** */
  .section-hero {
    padding: 0 0 4rem 0;
  }

  .hero {
    margin-top: -10rem;
  }

  .hero-text-box {
    padding: 0 1rem;
  }

  /* ********************************** */
  /* WHY */
  /* ********************************** */
  .section-why {
    padding: 4rem 2rem;
  }

  .why-list img {
    margin: 0 auto 1rem;
  }

  /* ********************************** */
  /* ARTICLES */
  /* ********************************** */
  .section-articles {
    padding: 4rem 2rem;
  }

  /* ********************************** */
  /* FOOTER */
  /* ********************************** */
  .section-footer {
    padding: 3rem 2rem;
  }
}
